* {
  font-family: "Montserrat", sans-serif;
}
.adm {
  font-weight: 900;
  font-size: 15px;
}
.fond {
  background-color: #faffc1;
}
span {
  font-weight: 500;
  font-size: 14px;
}
.sheet :visited {
  background-color: aqua;
}
.ib {
  position: relative;
}
.fa-search {
  position: absolute;
  right: 15px;
}
.ok {
  border-radius: 10px;
}
.card1 {
  background-color: #f0f9ff;
  border-radius: 8px;
}
.card2 {
  background-color: #fef6fb;
  border-radius: 8px;
}
.card3 {
  background-color: #fefbec;
  border-radius: 8px;
}
.card4 {
  background: linear-gradient(110.42deg, #00c1fe 18.27%, #faffc1 91.84%);
  border-radius: 8px;
}
table {
  border-collapse: separate;
  border-spacing: 0 15px;
}
.my-list li a:hover{
  background-color: #00c1fe;
}